/**reset**/
* {
    padding: 0;
    margin: 0;
    background: #000000
}   

/**wrap**/
#wrap {
    width: 1280px;
    margin: 0 auto;
}

/**header**/
#header {
    overflow: hidden;
}
/**h1**/
h1 {
    float: left;
    color: white;

}
/**카테고리**/
.nav {
    float: right;
    margin-left: 100px;
    color: white;
    list-style: none;
}
.nav li {
    float: left;
    height: 63px;
    line-height: 63px;
    padding: 0 106px;
    font-size: 1.2em;
    font-weight: bold;
    background: #2E2E2E
}
.nav li:hover {
    background: white;
    color: #000000
}
.nav li:visited {
    text-decoration: none;
    color: #000000
}
a {
    float: left
}
a:link {
    color:white;
}
a:visited {
    color: white;
}

#imgad {
    color: white;
}

#contents {
    float: left;
}


.id input, .pass input {
    width: 150px;
    height: 1px;
    padding: 18px 12px;
    border: 1px solid white;;
    font-size: 12px;
    font-weight: 700;
    outline: 0;
    transition: border-color .15s linear;
}

.btLogin button {
    width: 200px;
    height: 40px;
    font-size: 15px;
    color: white;
    background-color: #2E2E2E;
    transition: all .15s linear;
    margin-bottom: 20px;
}

.btnSignUp button {
    width: 200px;
    height: 40px;
    font-size: 15px;
    color: white;
    background-color: #2E2E2E;
    transition: all .15s linear;
}

.lo {
    float: left;
    padding-top: 20px;
}

p{
    float: right;
    color: white;
}

.ad {
    float: left;
    margin-left: 20px;
    padding-top: 20px;
}

